include disposition.pug

mixin ribbon()
    +b.ribbon  
        +e.wrapper
            +e.slide
                +disposition({
                    title: "Фирменный салон ESTET",
                    subtitle: "Советский район, ул. Бекетова, д.13, литер &laquo;А&raquo;, СЦ&nbsp;Бекетов, 3",
                })
            +e.slide
                +disposition({
                    title: "Фирменный салон ESTET",
                    subtitle: "Советский район, ул. Бекетова, д.13, литер &laquo;А&raquo;, СЦ&nbsp;Бекетов, 3",
                })
            +e.slide
                +disposition({
                    title: "Фирменный салон ESTET",
                    subtitle: "Советский район, ул. Бекетова, д.13, литер &laquo;А&raquo;, СЦ&nbsp;Бекетов, 3",
                })
            +e.slide
                +disposition({
                    title: "Фирменный салон ESTET",
                    subtitle: "Советский район, ул. Бекетова, д.13, литер &laquo;А&raquo;, СЦ&nbsp;Бекетов, 3",
                })
            +e.slide
                +disposition({
                    title: "Фирменный салон ESTET",
                    subtitle: "Советский район, ул. Бекетова, д.13, литер &laquo;А&raquo;, СЦ&nbsp;Бекетов, 3",
                })
            +e.slide
                +disposition({
                    title: "Фирменный салон ESTET",
                    subtitle: "Советский район, ул. Бекетова, д.13, литер &laquo;А&raquo;, СЦ&nbsp;Бекетов, 3",
                })
            +e.slide
                +disposition({
                    title: "Фирменный салон ESTET",
                    subtitle: "Советский район, ул. Бекетова, д.13, литер &laquo;А&raquo;, СЦ&nbsp;Бекетов, 3",
                })
            +e.slide
                +disposition({
                    title: "Фирменный салон ESTET",
                    subtitle: "Советский район, ул. Бекетова, д.13, литер &laquo;А&raquo;, СЦ&nbsp;Бекетов, 3",
                })