mixin technologies()
    +b('section')
        +e.innovation
            .container
                +e('h2').Lamell Современные технологии Lamell Tech ®
                +e('p').text Инновационная технология изготовления бруса, применяемого в&nbsp;конструкции дверного полотна фабрикой ESTET. Брус изготавливается из&nbsp;отдельных реек, благодаря применению специальных смол, обеспечивается соединение реек на&nbsp;молекулярном уровне.
                    +e.slider
                        +e('p').development
                        +button({}).--
                                include ui-kit/icon.pug
                                +icon('line-arrow-61').--
                            include ui-kit/button.pug
                        +button({}).--
                                include ui-kit/icon.pug
                                +icon('line-arrow-61').--
                            include ui-kit/button.pug

