//- Используем стандартный шаблон
extends ./template/index_layout

//- Модифицируем head
block head
    - var pageTitle = 'Страница иконок';

//- Выводим контент
block content
    ul
    
        li
            i(class="b-icon icon-basket")  .icon-basket
    
        li
            i(class="b-icon icon-facebook")  .icon-facebook
    
        li
            i(class="b-icon icon-heart-full")  .icon-heart-full
    
        li
            i(class="b-icon icon-heart")  .icon-heart
    
        li
            i(class="b-icon icon-instagram")  .icon-instagram
    
        li
            i(class="b-icon icon-kontora")  .icon-kontora
    
        li
            i(class="b-icon icon-line-arrow-109")  .icon-line-arrow-109
    
        li
            i(class="b-icon icon-line-arrow-125")  .icon-line-arrow-125
    
        li
            i(class="b-icon icon-line-arrow-172")  .icon-line-arrow-172
    
        li
            i(class="b-icon icon-line-arrow-26")  .icon-line-arrow-26
    
        li
            i(class="b-icon icon-line-arrow-43")  .icon-line-arrow-43
    
        li
            i(class="b-icon icon-line-arrow-61")  .icon-line-arrow-61
    
        li
            i(class="b-icon icon-list-arrow")  .icon-list-arrow
    
        li
            i(class="b-icon icon-logo")  .icon-logo
    
        li
            i(class="b-icon icon-loop")  .icon-loop
    
        li
            i(class="b-icon icon-location")  .icon-location
    
        li
            i(class="b-icon icon-map")  .icon-map
    
        li
            i(class="b-icon icon-noline-arrow")  .icon-noline-arrow
    
        li
            i(class="b-icon icon-pencil")  .icon-pencil
    
        li
            i(class="b-icon icon-phone")  .icon-phone
    
        li
            i(class="b-icon icon-play-ring")  .icon-play-ring
    
        li
            i(class="b-icon icon-ring-arrow")  .icon-ring-arrow
    
        li
            i(class="b-icon icon-search")  .icon-search
    
        li
            i(class="b-icon icon-sort")  .icon-sort
    
        li
            i(class="b-icon icon-tg")  .icon-tg
    
        li
            i(class="b-icon icon-vk")  .icon-vk
    
        li
            i(class="b-icon icon-whatsapp")  .icon-whatsapp
    
        li
            i(class="b-icon icon-youtube")  .icon-youtube
    